@mixin flex($jc, $ai) {
     display: flex;
     justify-content: $jc;
     align-items: $ai;
     @content;
}

@mixin flex_col($gap) {
     display: flex;
     flex-direction: column;
     gap: $gap;
}

@mixin btn($bg, $col) {
     button {
          background-color: $bg;
          padding: 1rem 2.4rem;
          border-radius: 5rem;
          outline: none;
          font-weight: 900;
          color: $col !important;
          cursor: pointer;
          border: none;
          font-size: 1.3em;
          font-family: "Athletic Bold";
          @include media("<=phone-tab") {
               font-size: 1.3em;
          }
     }
}
@import "./breakpoints.scss";
