@import "./breakpoints.scss";
@mixin flex($jc, $ai) {
     display: flex;
     justify-content: $jc;
     align-items: $ai;
     @content;
}

@mixin flex_col($gap) {
     display: flex;
     flex-direction: column;
     gap: $gap;
}

@mixin btn($bg, $col) {
     button {
          background-color: $bg;
          padding: 1.2rem 2.5rem;
          border-radius: 5rem;
          outline: none;
          font-weight: 900;
          color: $col !important;
          cursor: pointer;
          border: none;
          font-size: 1.5em;
          font-family: "Athletic Bold";
          @include media("<=phone-tab") {
               font-size: 1.3em;
          }
     }
}
@mixin split($col1, $col2){
     @include flex(space-between, center);
     @include media("<=tablet") {
          @include flex_col(0rem);
     }
  .cmp{
     width: 50%;
     @include flex(center, center);
     @include media("<=tablet") {
          width: 100%;
          height: auto;
          padding: 3rem 0;
     }
     &:nth-child(1) {
          background: $col1;
          border-right: 2px solid black;
          @include media("<=tablet") {
               border: {
                    right: none;
                    bottom: 1px solid black;
               }
          }
     }
     &:nth-child(2) {
          background: $col2;
          border-left: 2px solid black;
          @include media("<=tablet") {
               border: {
                    top: 1px solid black;
                    left: none;
               }
          }
     }
     & > div {
          width: 90%;
          margin: 0 auto;
     }
     @content;
  }
}

