.contain_wrap {
     width: 93%;
     margin: 0 auto;
}
.marquee {
     cursor: default;
}
@keyframes marquee {
     0% {
          transform: translate(0);
     }
     100% {
          transform: translateX(-100%);
     }
}
