.contain_wrap {
     width: 93%;
     margin: 0 auto;
     @include media("<=phone-tab") {
          width: 90%;
     }
}
.marquee {
     cursor: default;
}
.abs {
     position: absolute;
}
@keyframes marquee {
     0% {
          transform: translate(0);
     }
     100% {
          transform: translateX(-100%);
     }
}
