* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
html {
     scroll-behavior: smooth;
}
body {
     overflow-x: hidden;
     font-family: "Athletic";
}
h1 {
     font-size: 4.5rem;
     line-height: 5rem;
}
button {
     outline: none;
     cursor: pointer;
     border: none;
     font-size: 1em;
     font-family: inherit;
     transition: 0.2s ease-in-out;
}
section {
     width: 100%;
}
p{
     font-size: 1.2em;
     font-weight: lighter;
}
