* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
html {
     scroll-behavior: smooth;
     font-size: calc(100vw / 1440 * 16);

     @include media("<=tablet") {
          font-size: calc(100vw / 475 * 10);
     }
     @include media("<=phone-tab") {
          font-size: calc(100vw / 265 * 10);
     }
}
body {
     overflow-x: hidden;
     font-family: "Athletic";
}
h1 {
     font-size: 4.5rem;
     line-height: 5rem;
     font-family: "Athletic Bold";
     @include media("<=phone-tab") {
          font-size: 3em;
          line-height: 4rem;
     }
}
section {
     width: 100%;
}
p {
     font-size: 1.2em;
     font-weight: lighter;
}
